* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding: 20px;
    text-align: center;
}

header,
footer {
    background-color: black;
    padding: 20px;
    color: white;

}

h2 {
    font-size: 40px;
}

.menu {
    background-color: gray;
    text-align: center;
}

.menu ul li {
    display: inline;
}

nav {
    background-color: rgb(199, 198, 198);
    padding: 15px 0;
}

.menu li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 30px;
    margin-left: 10px;
    line-height: 30px;
}

h3 {
    padding: 25px;
    margin-top: 25px;
    font-size: 30px;
}

h4 {
    padding: 5px;
    margin-top: 50px;
    font-size: 30px;
}

.section {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

button {
    width: 130px;
    height: 27px;
    padding: 5px;
    margin: 25px;

}

p {
    padding: 3px;
}

.content2 p {
    margin: 15px 0px 50px 0px;
}

img {
    padding: 5px;
}

a:hover {
    background-color: blue;
}